//tipografia
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";
//cores
$cor-do-texto: #d9d9d9;
$azul-escuro: #041833;
$azul-claro: #154580;
$azul-footer: #04244f;
$rosa: #c98cf1;
$roxo: #7b78e5;
$cinza-claro: #9d9d9d;
$tag-color: #344d6e;
//responsivo
$small-screen: 480px;
$medium-screen: 1024px;
