@import "../../styles/abstract/variables";

main {
  margin: 0 24px;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  &__img {
    width: 88%;
    img {
      width: 100%;
      height: 18rem;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: $cor-do-texto;
      font-size: 2.5rem;
      font-family: $fonte-bold;
      width: 401px;
      height: 144px;
      top: 75px;
      left: 44px;
    }
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
  margin-top: 1rem;
}

@media screen and (max-width: $medium-screen) {
  .principal__img {
    width: none;
    img {
      width: 78vw;
    }
  }
}

@media screen and (max-width: $small-screen) {
  main {
    margin: 0 12px;
  }
  .principal {
    &__img {
      img {
        margin-left: 6px;
      }
    }
    h1 {
      width: auto;
    }
  }
}
